In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
import pandas as pd
import numpy as np
from xgboost import XGBClassifier

In [2]:
df = pd.read_csv("loan_data.csv")
for x in df.columns:
    if "." in (x):
        df.rename(columns={x:x.replace(".","_")} , inplace = True)
df

,credit_policy,purpose,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,not_fully_paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [3]:
categorical_columns = ['purpose']
numerical_columns = ['int_rate', 'installment', 'log_annual_inc',
       'dti', 'fico', 'days_with_cr_line', 'revol_bal', 'revol_util',
       'inq_last_6mths', 'delinq_2yrs', 'pub_rec']
label = "not_fully_paid"

In [4]:
df1 = df[df["not_fully_paid"] == 1].sample(1533)
df2 = df[df["not_fully_paid"] == 1].sample(1533)
df3 = df[df["not_fully_paid"] == 1].sample(1533)
df4 = df[df["not_fully_paid"] == 1].sample(1533)
df5 = df[df["not_fully_paid"] == 1].sample(1533)
df6 = df[df["not_fully_paid"] == 1].sample(1533)
df7 = df[df["not_fully_paid"] == 1].sample(1533)
df8 = df[df["not_fully_paid"] == 1].sample(1533)
dff = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8] ,ignore_index = True)
dff

,credit_policy,purpose,int_rate,installment,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,not_fully_paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21837,1,small_business,0.1947,184.49,10.463103,1.78,667,7619.958333,4198,44.2,0,1,0,1
21838,1,debt_consolidation,0.1531,557.05,11.156251,20.64,677,1800.000000,11725,54.8,1,0,0,1
21839,0,all_other,0.1531,174.08,11.223642,8.06,707,1230.041667,2229,25.3,5,0,0,1
21840,1,all_other,0.0740,82.31,9.210340,1.20,807,3899.958333,82,2.3,0,0,0,1
21841,1,all_other,0.1843,290.96,10.563543,9.86,667,2520.000000,298,99.3,0,0,1,1

In [5]:
X = dff[numerical_columns]
y = dff[[label]]

In [6]:
train_x,test_x,train_y,test_y = train_test_split(X,y,test_size = 0.33,random_state = 42, stratify = y[label])

In [7]:
model = XGBClassifier(learning_rate=0.7)

In [8]:
model.fit(train_x,train_y)

C:\Users\Keegan Fernandes\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\Keegan Fernandes\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[12:32:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.7, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [9]:
y_pred = model.predict(test_x)
y_prob = model.predict_proba(test_x)[:,1:]

In [10]:
accuracy = accuracy_score(test_y , y_pred)
precision = precision_score(test_y , y_pred)
auc = roc_auc_score(test_y, y_prob)

In [11]:
print("accuracy :" , accuracy)
print("precision :" , precision)
print("auc :" , auc)

accuracy : 0.9278579356270811
precision : 0.8974965503646757
auc : 0.9780214034909207

In [12]:
import pickle
model_name = "Model_For_Deployment.sav"
pickle.dump(model,open(model_name,"wb"))

In [ ]:
test_x.shape

In [13]:
loaded_model =pickle.load(open(model_name,"rb"))

In [14]:
loaded_model.score(test_x,test_y)

0.9278579356270811